name: workflow
on:
  push:
  pull_request:
jobs:
  workflow:
    name: Workflow
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2.3.4
      - name: Setup Node
        uses: actions/setup-node@v2.1.5
        with:
          node-version: '16'
      - name: Setup Git
        run: |
          git config --global user.name 'Git bot'
          git config --global user.email 'bot@noreply.github.com'
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
      - name: Upgrade
        run: |
          yarn install
          yarn upgrade
      - name: Lint
        run: yarn fixlint
      - name: Commit
        run: git pull && git commit -am "Auto updated package.json and package-lock.json" && git push || echo "Done"
      - name: Build
        run: yarn build
      - name: Deploy to GitHub Pages
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: gh-pages
          build_dir: .vuepress/dist/
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
